In [ ]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 84,
   "metadata": {},
   "outputs": [],
   "source": [
    "import pandas as pd\n",
    "import numpy as np"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 1"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 85,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "cho biết kiểu dữ liệu(dtype)của các cột của stock1\n",
      "\n",
      "date       object\n",
      "symbol     object\n",
      "open      float64\n",
      "high      float64\n",
      "low       float64\n",
      "close     float64\n",
      "volume      int64\n",
      "dtype: object\n",
      "xem thông tin của stock1\n",
      "\n",
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 15 entries, 0 to 14\n",
      "Data columns (total 7 columns):\n",
      " #   Column  Non-Null Count  Dtype  \n",
      "---  ------  --------------  -----  \n",
      " 0   date    15 non-null     object \n",
      " 1   symbol  15 non-null     object \n",
      " 2   open    15 non-null     float64\n",
      " 3   high    13 non-null     float64\n",
      " 4   low     13 non-null     float64\n",
      " 5   close   15 non-null     float64\n",
      " 6   volume  15 non-null     int64  \n",
      "dtypes: float64(4), int64(1), object(2)\n",
      "memory usage: 972.0+ bytes\n",
      "None\n"
     ]
    }
   ],
   "source": [
    "stock1 = pd.read_csv('stocks1.csv')\n",
    "#cho biết kiểu dữ liệu(dtype)của các cột của stock1\n",
    "print('cho biết kiểu dữ liệu(dtype)của các cột của stock1\\n')\n",
    "print(stock1.dtypes)\n",
    "#xem thông tin của stock1\n",
    "print('xem thông tin của stock1\\n')\n",
    "print(stock1.info())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 86,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "cho biết kiểu dữ liệu(dtype)của các cột của stock2\n",
      "\n",
      "date       object\n",
      "symbol     object\n",
      "open      float64\n",
      "high      float64\n",
      "low       float64\n",
      "close     float64\n",
      "volume      int64\n",
      "dtype: object\n",
      "xem thông tin của stock2\n",
      "\n"
     ]
    }
   ],
   "source": [
    "stock2 = pd.read_csv('stocks2.csv')\n",
    "#cho biết kiểu dữ liệu(dtype)của các cột của stock2\n",
    "print('cho biết kiểu dữ liệu(dtype)của các cột của stock2\\n')\n",
    "print(stock2.dtypes)\n",
    "#xem thông tin của stock2\n",
    "print('xem thông tin của stock2\\n')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 87,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "cho biết kiểu dữ liệu(dtype)của các cột của companies\n",
      "\n",
      "name                  object\n",
      "employees              int64\n",
      "headquarters_city     object\n",
      "headquarters_state    object\n",
      "dtype: object\n",
      "xem thông tin của companies\n",
      "\n",
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 5 entries, 0 to 4\n",
      "Data columns (total 4 columns):\n",
      " #   Column              Non-Null Count  Dtype \n",
      "---  ------              --------------  ----- \n",
      " 0   name                5 non-null      object\n",
      " 1   employees           5 non-null      int64 \n",
      " 2   headquarters_city   5 non-null      object\n",
      " 3   headquarters_state  5 non-null      object\n",
      "dtypes: int64(1), object(3)\n",
      "memory usage: 292.0+ bytes\n",
      "None\n"
     ]
    }
   ],
   "source": [
    "companies = pd.read_csv('companies.csv')\n",
    "#cho biết kiểu dữ liệu(dtype)của các cột của companies\n",
    "print('cho biết kiểu dữ liệu(dtype)của các cột của companies\\n')\n",
    "print(companies.dtypes)\n",
    "#xem thông tin của companies\n",
    "print('xem thông tin của companies\\n')\n",
    "print(companies.info())"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 2"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 88,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>date</th>\n",
       "      <th>symbol</th>\n",
       "      <th>open</th>\n",
       "      <th>high</th>\n",
       "      <th>low</th>\n",
       "      <th>close</th>\n",
       "      <th>volume</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1655.13</td>\n",
       "      <td>1674.26</td>\n",
       "      <td>1651.00</td>\n",
       "      <td>1671.73</td>\n",
       "      <td>4974877</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1685.00</td>\n",
       "      <td>1709.43</td>\n",
       "      <td>1674.36</td>\n",
       "      <td>1696.17</td>\n",
       "      <td>6167358</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1702.95</td>\n",
       "      <td>1707.80</td>\n",
       "      <td>1689.01</td>\n",
       "      <td>1692.43</td>\n",
       "      <td>3681522</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1695.97</td>\n",
       "      <td>1709.43</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1668.95</td>\n",
       "      <td>3996001</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1667.37</td>\n",
       "      <td>1669.75</td>\n",
       "      <td>1620.51</td>\n",
       "      <td>1625.95</td>\n",
       "      <td>4957017</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>174.28</td>\n",
       "      <td>175.15</td>\n",
       "      <td>172.89</td>\n",
       "      <td>174.97</td>\n",
       "      <td>25886167</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>175.69</td>\n",
       "      <td>177.75</td>\n",
       "      <td>173.97</td>\n",
       "      <td>175.85</td>\n",
       "      <td>27436203</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>175.94</td>\n",
       "      <td>176.00</td>\n",
       "      <td>174.54</td>\n",
       "      <td>175.53</td>\n",
       "      <td>19737419</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>174.67</td>\n",
       "      <td>175.49</td>\n",
       "      <td>173.94</td>\n",
       "      <td>174.52</td>\n",
       "      <td>20810384</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>173.87</td>\n",
       "      <td>174.44</td>\n",
       "      <td>172.02</td>\n",
       "      <td>172.50</td>\n",
       "      <td>24796374</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>10</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1124.90</td>\n",
       "      <td>1142.97</td>\n",
       "      <td>1124.75</td>\n",
       "      <td>1140.99</td>\n",
       "      <td>1450316</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1146.99</td>\n",
       "      <td>1158.28</td>\n",
       "      <td>1130.69</td>\n",
       "      <td>1147.80</td>\n",
       "      <td>1446047</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1150.06</td>\n",
       "      <td>1709.43</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1162.03</td>\n",
       "      <td>1443174</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1162.49</td>\n",
       "      <td>1167.57</td>\n",
       "      <td>1155.49</td>\n",
       "      <td>1157.86</td>\n",
       "      <td>1099289</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>14</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1155.72</td>\n",
       "      <td>1156.76</td>\n",
       "      <td>1134.91</td>\n",
       "      <td>1143.30</td>\n",
       "      <td>1166559</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "        date symbol     open     high      low    close    volume\n",
       "0   01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73   4974877\n",
       "1   04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17   6167358\n",
       "2   05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43   3681522\n",
       "3   06-03-19   AMZN  1695.97  1709.43      NaN  1668.95   3996001\n",
       "4   07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95   4957017\n",
       "5   01-03-19   AAPL   174.28   175.15   172.89   174.97  25886167\n",
       "6   04-03-19   AAPL   175.69   177.75   173.97   175.85  27436203\n",
       "7   05-03-19   AAPL   175.94   176.00   174.54   175.53  19737419\n",
       "8   06-03-19   AAPL   174.67   175.49   173.94   174.52  20810384\n",
       "9   07-03-19   AAPL   173.87   174.44   172.02   172.50  24796374\n",
       "10  01-03-19   GOOG  1124.90  1142.97  1124.75  1140.99   1450316\n",
       "11  04-03-19   GOOG  1146.99  1158.28  1130.69  1147.80   1446047\n",
       "12  05-03-19   GOOG  1150.06  1709.43      NaN  1162.03   1443174\n",
       "13  06-03-19   GOOG  1162.49  1167.57  1155.49  1157.86   1099289\n",
       "14  07-03-19   GOOG  1155.72  1156.76  1134.91  1143.30   1166559"
      ]
     },
     "execution_count": 88,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "stock1['high'] = stock1[[\"high\"]].fillna(stock1.max())\n",
    "stock1"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 89,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>date</th>\n",
       "      <th>symbol</th>\n",
       "      <th>open</th>\n",
       "      <th>high</th>\n",
       "      <th>low</th>\n",
       "      <th>close</th>\n",
       "      <th>volume</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1655.13</td>\n",
       "      <td>1674.26</td>\n",
       "      <td>1651.00</td>\n",
       "      <td>1671.73</td>\n",
       "      <td>4974877</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1685.00</td>\n",
       "      <td>1709.43</td>\n",
       "      <td>1674.36</td>\n",
       "      <td>1696.17</td>\n",
       "      <td>6167358</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1702.95</td>\n",
       "      <td>1707.80</td>\n",
       "      <td>1689.01</td>\n",
       "      <td>1692.43</td>\n",
       "      <td>3681522</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1695.97</td>\n",
       "      <td>1709.43</td>\n",
       "      <td>172.02</td>\n",
       "      <td>1668.95</td>\n",
       "      <td>3996001</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1667.37</td>\n",
       "      <td>1669.75</td>\n",
       "      <td>1620.51</td>\n",
       "      <td>1625.95</td>\n",
       "      <td>4957017</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>174.28</td>\n",
       "      <td>175.15</td>\n",
       "      <td>172.89</td>\n",
       "      <td>174.97</td>\n",
       "      <td>25886167</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>175.69</td>\n",
       "      <td>177.75</td>\n",
       "      <td>173.97</td>\n",
       "      <td>175.85</td>\n",
       "      <td>27436203</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>175.94</td>\n",
       "      <td>176.00</td>\n",
       "      <td>174.54</td>\n",
       "      <td>175.53</td>\n",
       "      <td>19737419</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>174.67</td>\n",
       "      <td>175.49</td>\n",
       "      <td>173.94</td>\n",
       "      <td>174.52</td>\n",
       "      <td>20810384</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>173.87</td>\n",
       "      <td>174.44</td>\n",
       "      <td>172.02</td>\n",
       "      <td>172.50</td>\n",
       "      <td>24796374</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>10</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1124.90</td>\n",
       "      <td>1142.97</td>\n",
       "      <td>1124.75</td>\n",
       "      <td>1140.99</td>\n",
       "      <td>1450316</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1146.99</td>\n",
       "      <td>1158.28</td>\n",
       "      <td>1130.69</td>\n",
       "      <td>1147.80</td>\n",
       "      <td>1446047</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1150.06</td>\n",
       "      <td>1709.43</td>\n",
       "      <td>172.02</td>\n",
       "      <td>1162.03</td>\n",
       "      <td>1443174</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1162.49</td>\n",
       "      <td>1167.57</td>\n",
       "      <td>1155.49</td>\n",
       "      <td>1157.86</td>\n",
       "      <td>1099289</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>14</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1155.72</td>\n",
       "      <td>1156.76</td>\n",
       "      <td>1134.91</td>\n",
       "      <td>1143.30</td>\n",
       "      <td>1166559</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "        date symbol     open     high      low    close    volume\n",
       "0   01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73   4974877\n",
       "1   04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17   6167358\n",
       "2   05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43   3681522\n",
       "3   06-03-19   AMZN  1695.97  1709.43   172.02  1668.95   3996001\n",
       "4   07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95   4957017\n",
       "5   01-03-19   AAPL   174.28   175.15   172.89   174.97  25886167\n",
       "6   04-03-19   AAPL   175.69   177.75   173.97   175.85  27436203\n",
       "7   05-03-19   AAPL   175.94   176.00   174.54   175.53  19737419\n",
       "8   06-03-19   AAPL   174.67   175.49   173.94   174.52  20810384\n",
       "9   07-03-19   AAPL   173.87   174.44   172.02   172.50  24796374\n",
       "10  01-03-19   GOOG  1124.90  1142.97  1124.75  1140.99   1450316\n",
       "11  04-03-19   GOOG  1146.99  1158.28  1130.69  1147.80   1446047\n",
       "12  05-03-19   GOOG  1150.06  1709.43   172.02  1162.03   1443174\n",
       "13  06-03-19   GOOG  1162.49  1167.57  1155.49  1157.86   1099289\n",
       "14  07-03-19   GOOG  1155.72  1156.76  1134.91  1143.30   1166559"
      ]
     },
     "execution_count": 89,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "stock1['low'] = stock1[[\"low\"]].fillna(stock1.min())\n",
    "stock1"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 3"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 90,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>date</th>\n",
       "      <th>symbol</th>\n",
       "      <th>open</th>\n",
       "      <th>high</th>\n",
       "      <th>low</th>\n",
       "      <th>close</th>\n",
       "      <th>volume</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1655.13</td>\n",
       "      <td>1674.2600</td>\n",
       "      <td>1651.00</td>\n",
       "      <td>1671.73</td>\n",
       "      <td>4974877</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1685.00</td>\n",
       "      <td>1709.4300</td>\n",
       "      <td>1674.36</td>\n",
       "      <td>1696.17</td>\n",
       "      <td>6167358</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1702.95</td>\n",
       "      <td>1707.8000</td>\n",
       "      <td>1689.01</td>\n",
       "      <td>1692.43</td>\n",
       "      <td>3681522</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1695.97</td>\n",
       "      <td>1709.4300</td>\n",
       "      <td>172.02</td>\n",
       "      <td>1668.95</td>\n",
       "      <td>3996001</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1667.37</td>\n",
       "      <td>1669.7500</td>\n",
       "      <td>1620.51</td>\n",
       "      <td>1625.95</td>\n",
       "      <td>4957017</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>174.28</td>\n",
       "      <td>175.1500</td>\n",
       "      <td>172.89</td>\n",
       "      <td>174.97</td>\n",
       "      <td>25886167</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>175.69</td>\n",
       "      <td>177.7500</td>\n",
       "      <td>173.97</td>\n",
       "      <td>175.85</td>\n",
       "      <td>27436203</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>175.94</td>\n",
       "      <td>176.0000</td>\n",
       "      <td>174.54</td>\n",
       "      <td>175.53</td>\n",
       "      <td>19737419</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>174.67</td>\n",
       "      <td>175.4900</td>\n",
       "      <td>173.94</td>\n",
       "      <td>174.52</td>\n",
       "      <td>20810384</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>173.87</td>\n",
       "      <td>174.4400</td>\n",
       "      <td>172.02</td>\n",
       "      <td>172.50</td>\n",
       "      <td>24796374</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>10</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1124.90</td>\n",
       "      <td>1142.9700</td>\n",
       "      <td>1124.75</td>\n",
       "      <td>1140.99</td>\n",
       "      <td>1450316</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1146.99</td>\n",
       "      <td>1158.2800</td>\n",
       "      <td>1130.69</td>\n",
       "      <td>1147.80</td>\n",
       "      <td>1446047</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1150.06</td>\n",
       "      <td>1709.4300</td>\n",
       "      <td>172.02</td>\n",
       "      <td>1162.03</td>\n",
       "      <td>1443174</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1162.49</td>\n",
       "      <td>1167.5700</td>\n",
       "      <td>1155.49</td>\n",
       "      <td>1157.86</td>\n",
       "      <td>1099289</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>14</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1155.72</td>\n",
       "      <td>1156.7600</td>\n",
       "      <td>1134.91</td>\n",
       "      <td>1143.30</td>\n",
       "      <td>1166559</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>162.60</td>\n",
       "      <td>163.1320</td>\n",
       "      <td>161.69</td>\n",
       "      <td>162.28</td>\n",
       "      <td>11097770</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>163.90</td>\n",
       "      <td>167.5000</td>\n",
       "      <td>163.83</td>\n",
       "      <td>167.37</td>\n",
       "      <td>18894689</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>167.37</td>\n",
       "      <td>171.8800</td>\n",
       "      <td>166.55</td>\n",
       "      <td>171.26</td>\n",
       "      <td>28187890</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>172.90</td>\n",
       "      <td>173.5700</td>\n",
       "      <td>171.27</td>\n",
       "      <td>172.51</td>\n",
       "      <td>21531723</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>171.50</td>\n",
       "      <td>171.7400</td>\n",
       "      <td>167.61</td>\n",
       "      <td>169.13</td>\n",
       "      <td>18306504</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>306.94</td>\n",
       "      <td>307.1300</td>\n",
       "      <td>291.90</td>\n",
       "      <td>294.79</td>\n",
       "      <td>22911375</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>298.12</td>\n",
       "      <td>299.0000</td>\n",
       "      <td>282.78</td>\n",
       "      <td>285.36</td>\n",
       "      <td>17096818</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>282.00</td>\n",
       "      <td>284.0000</td>\n",
       "      <td>270.10</td>\n",
       "      <td>276.54</td>\n",
       "      <td>18764740</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>276.48</td>\n",
       "      <td>281.5058</td>\n",
       "      <td>274.39</td>\n",
       "      <td>276.24</td>\n",
       "      <td>10335485</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>278.84</td>\n",
       "      <td>284.7000</td>\n",
       "      <td>274.25</td>\n",
       "      <td>276.59</td>\n",
       "      <td>9442483</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "        date symbol     open       high      low    close    volume\n",
       "0   01-03-19   AMZN  1655.13  1674.2600  1651.00  1671.73   4974877\n",
       "1   04-03-19   AMZN  1685.00  1709.4300  1674.36  1696.17   6167358\n",
       "2   05-03-19   AMZN  1702.95  1707.8000  1689.01  1692.43   3681522\n",
       "3   06-03-19   AMZN  1695.97  1709.4300   172.02  1668.95   3996001\n",
       "4   07-03-19   AMZN  1667.37  1669.7500  1620.51  1625.95   4957017\n",
       "5   01-03-19   AAPL   174.28   175.1500   172.89   174.97  25886167\n",
       "6   04-03-19   AAPL   175.69   177.7500   173.97   175.85  27436203\n",
       "7   05-03-19   AAPL   175.94   176.0000   174.54   175.53  19737419\n",
       "8   06-03-19   AAPL   174.67   175.4900   173.94   174.52  20810384\n",
       "9   07-03-19   AAPL   173.87   174.4400   172.02   172.50  24796374\n",
       "10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316\n",
       "11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047\n",
       "12  05-03-19   GOOG  1150.06  1709.4300   172.02  1162.03   1443174\n",
       "13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289\n",
       "14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559\n",
       "0   01-03-19     FB   162.60   163.1320   161.69   162.28  11097770\n",
       "1   04-03-19     FB   163.90   167.5000   163.83   167.37  18894689\n",
       "2   05-03-19     FB   167.37   171.8800   166.55   171.26  28187890\n",
       "3   06-03-19     FB   172.90   173.5700   171.27   172.51  21531723\n",
       "4   07-03-19     FB   171.50   171.7400   167.61   169.13  18306504\n",
       "5   01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375\n",
       "6   04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818\n",
       "7   05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740\n",
       "8   06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485\n",
       "9   07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483"
      ]
     },
     "execution_count": 90,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "stocks = pd.concat([stock1, stock2],axis=  0)\n",
    "stocks"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 91,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>date</th>\n",
       "      <th>symbol</th>\n",
       "      <th>open</th>\n",
       "      <th>high</th>\n",
       "      <th>low</th>\n",
       "      <th>close</th>\n",
       "      <th>volume</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>10</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1124.90</td>\n",
       "      <td>1142.9700</td>\n",
       "      <td>1124.75</td>\n",
       "      <td>1140.99</td>\n",
       "      <td>1450316</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1146.99</td>\n",
       "      <td>1158.2800</td>\n",
       "      <td>1130.69</td>\n",
       "      <td>1147.80</td>\n",
       "      <td>1446047</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1150.06</td>\n",
       "      <td>1709.4300</td>\n",
       "      <td>172.02</td>\n",
       "      <td>1162.03</td>\n",
       "      <td>1443174</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1162.49</td>\n",
       "      <td>1167.5700</td>\n",
       "      <td>1155.49</td>\n",
       "      <td>1157.86</td>\n",
       "      <td>1099289</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>14</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1155.72</td>\n",
       "      <td>1156.7600</td>\n",
       "      <td>1134.91</td>\n",
       "      <td>1143.30</td>\n",
       "      <td>1166559</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>162.60</td>\n",
       "      <td>163.1320</td>\n",
       "      <td>161.69</td>\n",
       "      <td>162.28</td>\n",
       "      <td>11097770</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>163.90</td>\n",
       "      <td>167.5000</td>\n",
       "      <td>163.83</td>\n",
       "      <td>167.37</td>\n",
       "      <td>18894689</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>167.37</td>\n",
       "      <td>171.8800</td>\n",
       "      <td>166.55</td>\n",
       "      <td>171.26</td>\n",
       "      <td>28187890</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>172.90</td>\n",
       "      <td>173.5700</td>\n",
       "      <td>171.27</td>\n",
       "      <td>172.51</td>\n",
       "      <td>21531723</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>171.50</td>\n",
       "      <td>171.7400</td>\n",
       "      <td>167.61</td>\n",
       "      <td>169.13</td>\n",
       "      <td>18306504</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>306.94</td>\n",
       "      <td>307.1300</td>\n",
       "      <td>291.90</td>\n",
       "      <td>294.79</td>\n",
       "      <td>22911375</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>298.12</td>\n",
       "      <td>299.0000</td>\n",
       "      <td>282.78</td>\n",
       "      <td>285.36</td>\n",
       "      <td>17096818</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>282.00</td>\n",
       "      <td>284.0000</td>\n",
       "      <td>270.10</td>\n",
       "      <td>276.54</td>\n",
       "      <td>18764740</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>276.48</td>\n",
       "      <td>281.5058</td>\n",
       "      <td>274.39</td>\n",
       "      <td>276.24</td>\n",
       "      <td>10335485</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>278.84</td>\n",
       "      <td>284.7000</td>\n",
       "      <td>274.25</td>\n",
       "      <td>276.59</td>\n",
       "      <td>9442483</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "        date symbol     open       high      low    close    volume\n",
       "10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316\n",
       "11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047\n",
       "12  05-03-19   GOOG  1150.06  1709.4300   172.02  1162.03   1443174\n",
       "13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289\n",
       "14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559\n",
       "0   01-03-19     FB   162.60   163.1320   161.69   162.28  11097770\n",
       "1   04-03-19     FB   163.90   167.5000   163.83   167.37  18894689\n",
       "2   05-03-19     FB   167.37   171.8800   166.55   171.26  28187890\n",
       "3   06-03-19     FB   172.90   173.5700   171.27   172.51  21531723\n",
       "4   07-03-19     FB   171.50   171.7400   167.61   169.13  18306504\n",
       "5   01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375\n",
       "6   04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818\n",
       "7   05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740\n",
       "8   06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485\n",
       "9   07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483"
      ]
     },
     "execution_count": 91,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "stocks.tail(15)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 4"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 92,
   "metadata": {},
   "outputs": [],
   "source": [
    "stocks_companies = pd.concat([stocks, companies], axis = 0)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 93,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>date</th>\n",
       "      <th>symbol</th>\n",
       "      <th>open</th>\n",
       "      <th>high</th>\n",
       "      <th>low</th>\n",
       "      <th>close</th>\n",
       "      <th>volume</th>\n",
       "      <th>name</th>\n",
       "      <th>employees</th>\n",
       "      <th>headquarters_city</th>\n",
       "      <th>headquarters_state</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1655.13</td>\n",
       "      <td>1674.26</td>\n",
       "      <td>1651.00</td>\n",
       "      <td>1671.73</td>\n",
       "      <td>4974877.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1685.00</td>\n",
       "      <td>1709.43</td>\n",
       "      <td>1674.36</td>\n",
       "      <td>1696.17</td>\n",
       "      <td>6167358.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1702.95</td>\n",
       "      <td>1707.80</td>\n",
       "      <td>1689.01</td>\n",
       "      <td>1692.43</td>\n",
       "      <td>3681522.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1695.97</td>\n",
       "      <td>1709.43</td>\n",
       "      <td>172.02</td>\n",
       "      <td>1668.95</td>\n",
       "      <td>3996001.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1667.37</td>\n",
       "      <td>1669.75</td>\n",
       "      <td>1620.51</td>\n",
       "      <td>1625.95</td>\n",
       "      <td>4957017.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "       date symbol     open     high      low    close     volume name  \\\n",
       "0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877.0  NaN   \n",
       "1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358.0  NaN   \n",
       "2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522.0  NaN   \n",
       "3  06-03-19   AMZN  1695.97  1709.43   172.02  1668.95  3996001.0  NaN   \n",
       "4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017.0  NaN   \n",
       "\n",
       "   employees headquarters_city headquarters_state  \n",
       "0        NaN               NaN                NaN  \n",
       "1        NaN               NaN                NaN  \n",
       "2        NaN               NaN                NaN  \n",
       "3        NaN               NaN                NaN  \n",
       "4        NaN               NaN                NaN  "
      ]
     },
     "execution_count": 93,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "stocks_companies.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 5"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 94,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>open</th>\n",
       "      <th>high</th>\n",
       "      <th>close</th>\n",
       "      <th>low</th>\n",
       "      <th>volume</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>symbol</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>AAPL</th>\n",
       "      <td>174.890</td>\n",
       "      <td>175.76600</td>\n",
       "      <td>174.674</td>\n",
       "      <td>173.472</td>\n",
       "      <td>23733309.4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>AMZN</th>\n",
       "      <td>1681.284</td>\n",
       "      <td>1694.13400</td>\n",
       "      <td>1671.046</td>\n",
       "      <td>1361.380</td>\n",
       "      <td>4755355.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>FB</th>\n",
       "      <td>167.654</td>\n",
       "      <td>169.56440</td>\n",
       "      <td>168.510</td>\n",
       "      <td>166.190</td>\n",
       "      <td>19603715.2</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>GOOG</th>\n",
       "      <td>1148.032</td>\n",
       "      <td>1267.00200</td>\n",
       "      <td>1150.396</td>\n",
       "      <td>943.572</td>\n",
       "      <td>1321077.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>TSLA</th>\n",
       "      <td>288.476</td>\n",
       "      <td>291.26716</td>\n",
       "      <td>281.904</td>\n",
       "      <td>278.684</td>\n",
       "      <td>15710180.2</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "            open        high     close       low      volume\n",
       "symbol                                                      \n",
       "AAPL     174.890   175.76600   174.674   173.472  23733309.4\n",
       "AMZN    1681.284  1694.13400  1671.046  1361.380   4755355.0\n",
       "FB       167.654   169.56440   168.510   166.190  19603715.2\n",
       "GOOG    1148.032  1267.00200  1150.396   943.572   1321077.0\n",
       "TSLA     288.476   291.26716   281.904   278.684  15710180.2"
      ]
     },
     "execution_count": 94,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "stocks.groupby('symbol').agg({'open': 'mean','high':'mean','close':'mean','low':'mean','volume':'mean'})"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 6"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 95,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "giá đóng cửa trung bình,lớn nhất và nhỏ nhất ở mỗi công ty: \n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead tr th {\n",
       "        text-align: left;\n",
       "    }\n",
       "\n",
       "    .dataframe thead tr:last-of-type th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr>\n",
       "      <th></th>\n",
       "      <th colspan=\"3\" halign=\"left\">close</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th></th>\n",
       "      <th>mean</th>\n",
       "      <th>max</th>\n",
       "      <th>min</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>symbol</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>AAPL</th>\n",
       "      <td>174.674</td>\n",
       "      <td>175.85</td>\n",
       "      <td>172.50</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>AMZN</th>\n",
       "      <td>1671.046</td>\n",
       "      <td>1696.17</td>\n",
       "      <td>1625.95</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>FB</th>\n",
       "      <td>168.510</td>\n",
       "      <td>172.51</td>\n",
       "      <td>162.28</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>GOOG</th>\n",
       "      <td>1150.396</td>\n",
       "      <td>1162.03</td>\n",
       "      <td>1140.99</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>TSLA</th>\n",
       "      <td>281.904</td>\n",
       "      <td>294.79</td>\n",
       "      <td>276.24</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "           close                  \n",
       "            mean      max      min\n",
       "symbol                            \n",
       "AAPL     174.674   175.85   172.50\n",
       "AMZN    1671.046  1696.17  1625.95\n",
       "FB       168.510   172.51   162.28\n",
       "GOOG    1150.396  1162.03  1140.99\n",
       "TSLA     281.904   294.79   276.24"
      ]
     },
     "execution_count": 95,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "print('giá đóng cửa trung bình,lớn nhất và nhỏ nhất ở mỗi công ty: ')\n",
    "stocks.groupby('symbol').agg({'close':['mean','max','min']})"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 7"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 96,
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "C:\\Users\\nkhan\\AppData\\Local\\Temp\\ipykernel_7420\\2619056735.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.\n",
      "  stocks_companies['parsed_time'] = pd.to_datetime(stocks_companies['date'])\n"
     ]
    }
   ],
   "source": [
    "stocks_companies['parsed_time'] = pd.to_datetime(stocks_companies['date'])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 98,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>date</th>\n",
       "      <th>symbol</th>\n",
       "      <th>open</th>\n",
       "      <th>high</th>\n",
       "      <th>low</th>\n",
       "      <th>close</th>\n",
       "      <th>volume</th>\n",
       "      <th>name</th>\n",
       "      <th>employees</th>\n",
       "      <th>headquarters_city</th>\n",
       "      <th>headquarters_state</th>\n",
       "      <th>parsed_time</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1655.13</td>\n",
       "      <td>1674.26</td>\n",
       "      <td>1651.00</td>\n",
       "      <td>1671.73</td>\n",
       "      <td>4974877.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2019-01-03</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1685.00</td>\n",
       "      <td>1709.43</td>\n",
       "      <td>1674.36</td>\n",
       "      <td>1696.17</td>\n",
       "      <td>6167358.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2019-04-03</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1702.95</td>\n",
       "      <td>1707.80</td>\n",
       "      <td>1689.01</td>\n",
       "      <td>1692.43</td>\n",
       "      <td>3681522.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2019-05-03</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1695.97</td>\n",
       "      <td>1709.43</td>\n",
       "      <td>172.02</td>\n",
       "      <td>1668.95</td>\n",
       "      <td>3996001.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2019-06-03</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1667.37</td>\n",
       "      <td>1669.75</td>\n",
       "      <td>1620.51</td>\n",
       "      <td>1625.95</td>\n",
       "      <td>4957017.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2019-07-03</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "       date symbol     open     high      low    close     volume name  \\\n",
       "0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877.0  NaN   \n",
       "1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358.0  NaN   \n",
       "2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522.0  NaN   \n",
       "3  06-03-19   AMZN  1695.97  1709.43   172.02  1668.95  3996001.0  NaN   \n",
       "4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017.0  NaN   \n",
       "\n",
       "   employees headquarters_city headquarters_state parsed_time  \n",
       "0        NaN               NaN                NaN  2019-01-03  \n",
       "1        NaN               NaN                NaN  2019-04-03  \n",
       "2        NaN               NaN                NaN  2019-05-03  \n",
       "3        NaN               NaN                NaN  2019-06-03  \n",
       "4        NaN               NaN                NaN  2019-07-03  "
      ]
     },
     "execution_count": 98,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "stocks_companies.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### 8"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 99,
   "metadata": {},
   "outputs": [],
   "source": [
    "stocks['result'] =0 "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 101,
   "metadata": {},
   "outputs": [],
   "source": [
    "stocks['result'] = np.where(stocks['close'] > stocks['open'], 'up', 'down')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 102,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>date</th>\n",
       "      <th>symbol</th>\n",
       "      <th>open</th>\n",
       "      <th>high</th>\n",
       "      <th>low</th>\n",
       "      <th>close</th>\n",
       "      <th>volume</th>\n",
       "      <th>result</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1655.13</td>\n",
       "      <td>1674.2600</td>\n",
       "      <td>1651.00</td>\n",
       "      <td>1671.73</td>\n",
       "      <td>4974877</td>\n",
       "      <td>up</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1685.00</td>\n",
       "      <td>1709.4300</td>\n",
       "      <td>1674.36</td>\n",
       "      <td>1696.17</td>\n",
       "      <td>6167358</td>\n",
       "      <td>up</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1702.95</td>\n",
       "      <td>1707.8000</td>\n",
       "      <td>1689.01</td>\n",
       "      <td>1692.43</td>\n",
       "      <td>3681522</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1695.97</td>\n",
       "      <td>1709.4300</td>\n",
       "      <td>172.02</td>\n",
       "      <td>1668.95</td>\n",
       "      <td>3996001</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>AMZN</td>\n",
       "      <td>1667.37</td>\n",
       "      <td>1669.7500</td>\n",
       "      <td>1620.51</td>\n",
       "      <td>1625.95</td>\n",
       "      <td>4957017</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>174.28</td>\n",
       "      <td>175.1500</td>\n",
       "      <td>172.89</td>\n",
       "      <td>174.97</td>\n",
       "      <td>25886167</td>\n",
       "      <td>up</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>175.69</td>\n",
       "      <td>177.7500</td>\n",
       "      <td>173.97</td>\n",
       "      <td>175.85</td>\n",
       "      <td>27436203</td>\n",
       "      <td>up</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>175.94</td>\n",
       "      <td>176.0000</td>\n",
       "      <td>174.54</td>\n",
       "      <td>175.53</td>\n",
       "      <td>19737419</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>174.67</td>\n",
       "      <td>175.4900</td>\n",
       "      <td>173.94</td>\n",
       "      <td>174.52</td>\n",
       "      <td>20810384</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>AAPL</td>\n",
       "      <td>173.87</td>\n",
       "      <td>174.4400</td>\n",
       "      <td>172.02</td>\n",
       "      <td>172.50</td>\n",
       "      <td>24796374</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>10</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1124.90</td>\n",
       "      <td>1142.9700</td>\n",
       "      <td>1124.75</td>\n",
       "      <td>1140.99</td>\n",
       "      <td>1450316</td>\n",
       "      <td>up</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1146.99</td>\n",
       "      <td>1158.2800</td>\n",
       "      <td>1130.69</td>\n",
       "      <td>1147.80</td>\n",
       "      <td>1446047</td>\n",
       "      <td>up</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1150.06</td>\n",
       "      <td>1709.4300</td>\n",
       "      <td>172.02</td>\n",
       "      <td>1162.03</td>\n",
       "      <td>1443174</td>\n",
       "      <td>up</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1162.49</td>\n",
       "      <td>1167.5700</td>\n",
       "      <td>1155.49</td>\n",
       "      <td>1157.86</td>\n",
       "      <td>1099289</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>14</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>GOOG</td>\n",
       "      <td>1155.72</td>\n",
       "      <td>1156.7600</td>\n",
       "      <td>1134.91</td>\n",
       "      <td>1143.30</td>\n",
       "      <td>1166559</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>162.60</td>\n",
       "      <td>163.1320</td>\n",
       "      <td>161.69</td>\n",
       "      <td>162.28</td>\n",
       "      <td>11097770</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>163.90</td>\n",
       "      <td>167.5000</td>\n",
       "      <td>163.83</td>\n",
       "      <td>167.37</td>\n",
       "      <td>18894689</td>\n",
       "      <td>up</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>167.37</td>\n",
       "      <td>171.8800</td>\n",
       "      <td>166.55</td>\n",
       "      <td>171.26</td>\n",
       "      <td>28187890</td>\n",
       "      <td>up</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>172.90</td>\n",
       "      <td>173.5700</td>\n",
       "      <td>171.27</td>\n",
       "      <td>172.51</td>\n",
       "      <td>21531723</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>FB</td>\n",
       "      <td>171.50</td>\n",
       "      <td>171.7400</td>\n",
       "      <td>167.61</td>\n",
       "      <td>169.13</td>\n",
       "      <td>18306504</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>01-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>306.94</td>\n",
       "      <td>307.1300</td>\n",
       "      <td>291.90</td>\n",
       "      <td>294.79</td>\n",
       "      <td>22911375</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>04-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>298.12</td>\n",
       "      <td>299.0000</td>\n",
       "      <td>282.78</td>\n",
       "      <td>285.36</td>\n",
       "      <td>17096818</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>05-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>282.00</td>\n",
       "      <td>284.0000</td>\n",
       "      <td>270.10</td>\n",
       "      <td>276.54</td>\n",
       "      <td>18764740</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>06-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>276.48</td>\n",
       "      <td>281.5058</td>\n",
       "      <td>274.39</td>\n",
       "      <td>276.24</td>\n",
       "      <td>10335485</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>07-03-19</td>\n",
       "      <td>TSLA</td>\n",
       "      <td>278.84</td>\n",
       "      <td>284.7000</td>\n",
       "      <td>274.25</td>\n",
       "      <td>276.59</td>\n",
       "      <td>9442483</td>\n",
       "      <td>down</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "        date symbol     open       high      low    close    volume result\n",
       "0   01-03-19   AMZN  1655.13  1674.2600  1651.00  1671.73   4974877     up\n",
       "1   04-03-19   AMZN  1685.00  1709.4300  1674.36  1696.17   6167358     up\n",
       "2   05-03-19   AMZN  1702.95  1707.8000  1689.01  1692.43   3681522   down\n",
       "3   06-03-19   AMZN  1695.97  1709.4300   172.02  1668.95   3996001   down\n",
       "4   07-03-19   AMZN  1667.37  1669.7500  1620.51  1625.95   4957017   down\n",
       "5   01-03-19   AAPL   174.28   175.1500   172.89   174.97  25886167     up\n",
       "6   04-03-19   AAPL   175.69   177.7500   173.97   175.85  27436203     up\n",
       "7   05-03-19   AAPL   175.94   176.0000   174.54   175.53  19737419   down\n",
       "8   06-03-19   AAPL   174.67   175.4900   173.94   174.52  20810384   down\n",
       "9   07-03-19   AAPL   173.87   174.4400   172.02   172.50  24796374   down\n",
       "10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316     up\n",
       "11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047     up\n",
       "12  05-03-19   GOOG  1150.06  1709.4300   172.02  1162.03   1443174     up\n",
       "13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289   down\n",
       "14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559   down\n",
       "0   01-03-19     FB   162.60   163.1320   161.69   162.28  11097770   down\n",
       "1   04-03-19     FB   163.90   167.5000   163.83   167.37  18894689     up\n",
       "2   05-03-19     FB   167.37   171.8800   166.55   171.26  28187890     up\n",
       "3   06-03-19     FB   172.90   173.5700   171.27   172.51  21531723   down\n",
       "4   07-03-19     FB   171.50   171.7400   167.61   169.13  18306504   down\n",
       "5   01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375   down\n",
       "6   04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818   down\n",
       "7   05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740   down\n",
       "8   06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485   down\n",
       "9   07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483   down"
      ]
     },
     "execution_count": 102,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "stocks"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.11.5"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}